/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 10px;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	/*font-size: 16px;*/

	line-height: 1.7;
	color: #777;
	padding: 3rem; /* 30px */
	box-sizing: border-box;
}

.header {
	height: 95vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba(126, 213, 111, 0.7), 
		rgba(40, 180, 131, 0.7)), 
		url('../img/hero.jpg');
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.header__logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.header__logo-img {
	height: 35px;
}

.header__text-box {
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	backface-visibility: hidden;
	text-align: center;
	margin-bottom: 60px;
}

.primary-heading {
	margin-bottom: 40px;
}

.primary-heading--main {
	display: block;
	font-size: 48px;
	font-weight: 400;
	letter-spacing: 35px;
	animation-name: moveInLeft;
	animation-duration: 1s;
	/*animation-delay: 0.5s;*/
	/*animation-iteration-count: 2;*/
	animation-timing-function: ease-out;
}

.primary-heading--sub {
	display: block;
	font-size: 18px ;
	font-weight: 400;
	letter-spacing: 10px;
	animation-name: moveInRight;
	animation-duration: 1s;
	/*animation-delay: 0.5s;*/
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	70% {
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(+100px);
	}
	70% {
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.btn:link, .btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all .2s;
	position: relative;
	font-size: 1.4rem;
}
.btn:hover {
	transform:  translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
	transform:  translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
	color: #777;
	background-color: #fff;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn--white::after {
	background-color: #fff;	
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn--animate {
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}