@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centered($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin visibility($o, $v) {
  opacity: $o;
  visibility: $v;
}

// Media Queries Manager
/*
0-600px       Phone
600px-900px   Tablet Portrait
900px-1200px   Tablet Landscape
1200px-1800px  Normal styles apply 
1800px+        Big Desktops
*/

// breakpoint argument choices
// phone, tab-port, tab-land, big-desktop

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
