.header {
	height: 95vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.7), 
		rgba($color-primary-dark, 0.7)), 
		url('../img/hero.jpg');
	background-size: cover;
	background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
	color: $color-white;
	text-transform: uppercase;
	text-align: center;

	&__logo-box {
		position: absolute;
		top: 40px;
		left: 40px;
	}

	&__logo-img {
		height: 35px;
	}

	&__text-box {
		position: absolute;
		top: 42%;
		left: 50%;
		transform: translate(-50%, -50%);
		backface-visibility: hidden;
		text-align: center;
		margin-bottom: 60px;
	}
}