.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 4 * $default-margin;
}
.u-margin-bottom-medium {
  margin-bottom: 2 * $default-margin;
}
.u-margin-bottom-small {
  margin-bottom: $default-margin;
}

.u-margin-top-big {
  margin-top: 4 * $default-margin;
}
.u-margin-top-medium {
  margin-top: 2 * $default-margin;
}
